<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="XamarinQrCodeCamera.XamarinQrCodeCamera" android:versionCode="1" android:versionName="1.0">

  <uses-permission android:name="android.permission.CAMERA"/>
  <uses-permission android:name="android.permission.VIBRATE"/>
  
  <uses-sdk android:minSdkVersion="16" />
  <application android:label="XamarinQrCodeCamera">

    <meta-data android:name="com.google.android.gms.vision.DEPENDENCIES"
               android:value="barcode"/>
    
  </application>
</manifest>